
/* header*/
.header{
    background-image: url('../developer.png'), url('../header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li  {
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    color:#FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
}
.secondary-bg{
    background-color: #fff8f3;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
.section-description{
    margin-left: 200px;
    margin-right: 200px;
}
/* banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{


}
/* main styles*/
.main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about style*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-right: 200px;
    margin-left: 200px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
/*skills*/
.skills-container{
    display: flex;
    margin-right: 250px;
    margin-left: 250px;
    gap: 20px;
    margin-top: 100px;
}
.skill{
    padding: 35px;box-shadow: 0px 6px 50px 0px rgb(216, 213, 213);
}
/* resume section style*/
.resume-container{
    display:flex;
    gap: 30px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
}
.resume-column-title{
    font-size: 30px;
  
}
.section-tittle{
    text-align: center;
    font-size: 50px;
}
.experience-sub-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.experience-title{
    font-size: 20px;
}
.resume hr{
    margin: 30px 5px;

}
.cv{
    margin-top: 50px;
}
/* futter*/
.secondary-bg{
    padding: 130px 230px;
    display: flex;
    gap: 150px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"] {
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 20px;

}